<div class="col-md-6">
  <div class="card card-chart">
    <div class="card-header card-header-success">
      <div class="ct-chart" id="top_5_toppings"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Top 5 Toppings</h4>
    </div> 
  </div> 
</div>

<div class="col-md-6">
  <div class="card card-chart">
    <div class="card-header card-header-warning">
      <div class="ct-chart" id="top_5_branches"></div> 
    </div>
    <div class="card-body">
      <h4 class="card-title">Top 5 Branches</h4>
    </div>
  </div>
</div>