<div class=" col-md-12">
    <div class="card card-stats">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">find_in_page</i>
        </div>
        <p class="card-category"></p>
        <form action="" method="post">
          <div class="form-row">
              <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="material-icons">store_front</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Branch Name" name="barnch" id="branch">
                  </div>
            </div>
            <div class="form-group col-md-5">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">calendar_month</i>
                    </span>
                </div>
              <input class= "form-control" type="date" id="date" name="date"
                      value="2023-01-01"
                      min="2023-01-01" max="2023-12-31">
                </div>
            </div>
          <button type= "submit" class="btn btn-rose btn-round btn-sm">
            <i class="material-icons">search</i> Search
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  