<div class=" col-md-12">
  <div class="card card-stats">
    <div class="card-header card-header-primary card-header-icon">
      <div class="card-icon">
        <i class="material-icons">date_range</i>
      </div>
      <p class="card-category"></p>
      <form action="" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
            <label class="control-label"> start</label>
            <input class= "form-control" type="date" id="start" name="start"
                    value="2023-01-01"
                    min="2023-01-01" max="2023-12-31">
          </div>
          <div class="form-group col-md-4">
            <label class="control-label"> end</label>
            <input class= "form-control" type="date" id="end" name="end"
                    value="2023-07-01"
                    min="2023-01-01" max="2023-12-31">
          </div>
        <button type= "submit" class="btn btn-rose btn-round btn-sm">
          <i class="material-icons">model_training</i> Run Model
        </button>
      </div>
      </form>
    </div>
  </div>
</div>



