<div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-info">
          <div class="ct-chart" id="orders_location"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Number of orders per location</h4>
        </div>
      </div>
    </div>
