    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header card-header-rose">
          <div class="ct-chart" id="orders_time"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Number of orders per hour</h4>
        </div>
      </div>
    </div>
